.positioner { inline-size: var(--anchor-width); max-inline-size: var(--available-width); }
.item { overflow-wrap: anywhere; }
.item[data-highlighted] { --md3-state-layer-color: var(--md-select-option-focus-state-layer-color); }
.item[data-highlighted] > :global([data-slot='state-layer']) { opacity: var(--md-select-option-focus-state-layer-opacity); }
.item[data-highlighted] > :global([data-slot='focus-ring']) { opacity: 1; }
.empty {
  padding: var(--md-autocomplete-empty-space);
  color: var(--md-autocomplete-empty-color);
  font-family: var(--md-autocomplete-empty-font);
  font-size: var(--md-autocomplete-empty-size);
  font-weight: var(--md-autocomplete-empty-weight);
  letter-spacing: var(--md-autocomplete-empty-tracking);
  line-height: var(--md-autocomplete-empty-line-height);
  text-decoration: var(--md-autocomplete-empty-decoration);
}
.empty:empty { display: none; }
@media (forced-colors: active) {
  .item[data-highlighted] { outline: var(--md-select-option-focus-ring-width) solid Highlight; outline-offset: calc(-1 * var(--md-select-option-focus-ring-width)); }
  .item[data-disabled] { color: GrayText; }
}
