.root {
  position: absolute;
  inset: calc(-1 * var(--md-focus-ring-outward-offset));
  z-index: 2;
  border: var(--md-focus-ring-width) solid var(--md-focus-ring-color);
  border-radius: inherit;
  pointer-events: none;
  opacity: 0;
}

:global([data-interactive-root]):focus-visible > .root {
  opacity: 1;
}

@media (forced-colors: active) {
  .root {
    border-color: Highlight;
  }
}
