.root {
  display: inline-grid;
  grid-template-columns: var(--md-checkbox-touch-target-size) minmax(0, 1fr);
  align-items: start;
  gap: 0;
  color: var(--md-checkbox-label-text-color);
  cursor: pointer;
}

.root[data-disabled] {
  cursor: default;
}

.control {
  position: relative;
  display: inline-grid;
  inline-size: var(--md-checkbox-container-size);
  block-size: var(--md-checkbox-container-size);
  flex: none;
  place-items: center;
  margin: 0.1875rem calc((var(--md-checkbox-touch-target-size) - var(--md-checkbox-container-size)) / 2) 0;
  padding: 0;
  border: 0;
  border-radius: var(--md-checkbox-state-layer-shape);
  outline: 0;
  background: transparent;
  color: transparent;
  cursor: inherit;
}

.control::before {
  position: absolute;
  inline-size: var(--md-checkbox-state-layer-size);
  block-size: var(--md-checkbox-state-layer-size);
  inset-block-start: 50%;
  inset-inline-start: 50%;
  border-radius: inherit;
  background: var(--checkbox-state-color, var(--md-checkbox-unselected-hover-state-layer-color));
  content: '';
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity var(--md-checkbox-state-layer-motion-duration) var(--md-checkbox-state-layer-motion-easing);
}

.control::after {
  position: absolute;
  inline-size: 2.75rem;
  block-size: 2.75rem;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  border-radius: inherit;
  content: '';
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.root:not([data-disabled]):hover .control::before {
  opacity: var(--md-checkbox-hover-state-layer-opacity);
}

.root:not([data-disabled]):hover .control:not([data-checked], [data-indeterminate]) .box {
  border-color: var(--md-checkbox-unselected-hover-outline-color);
}

.control:focus-visible::before {
  opacity: var(--md-checkbox-focus-state-layer-opacity);
}

.control:focus-visible::after {
  outline: var(--md-focus-ring-width) solid var(--md-focus-ring-color);
}

.root:not([data-disabled]) .control:active::before {
  background: var(--checkbox-pressed-state-color, var(--md-checkbox-unselected-pressed-state-layer-color));
  opacity: var(--md-checkbox-pressed-state-layer-opacity);
}

.box {
  position: relative;
  z-index: 1;
  display: inline-grid;
  inline-size: var(--md-checkbox-container-size);
  block-size: var(--md-checkbox-container-size);
  place-items: center;
  border: 0.125rem solid var(--md-checkbox-unselected-outline-color);
  border-radius: var(--md-checkbox-container-shape);
  background: transparent;
  overflow: hidden;
  transition: border-color var(--md-checkbox-opacity-duration) linear;
}

.box::before {
  position: absolute;
  inset: -0.125rem;
  border-radius: inherit;
  background: var(--md-checkbox-selected-container-color);
  content: '';
  opacity: 0;
  transform: scale(0.6);
  transition: transform var(--md-checkbox-exit-duration) var(--md-checkbox-exit-easing), opacity var(--md-checkbox-opacity-duration) linear;
}

.control[data-checked],
.control[data-indeterminate] {
  --checkbox-state-color: var(--md-checkbox-selected-container-color);
  --checkbox-pressed-state-color: var(--md-checkbox-selected-pressed-state-layer-color);
  color: var(--md-checkbox-selected-icon-color);
}

.control[data-checked] .box,
.control[data-indeterminate] .box {
  border-color: var(--md-checkbox-selected-container-color);
}

.control[data-checked] .box::before,
.control[data-indeterminate] .box::before {
  opacity: 1;
  transform: scale(1);
  transition-duration: var(--md-checkbox-enter-duration), var(--md-checkbox-opacity-duration);
  transition-timing-function: var(--md-checkbox-enter-easing), linear;
}

.indicator {
  position: absolute;
  z-index: 2;
  inset: 0;
  display: inline-grid;
  place-items: center;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.6);
  transition: transform var(--md-checkbox-exit-duration) var(--md-checkbox-exit-easing), opacity var(--md-checkbox-opacity-duration) linear;
}

.control[data-checked] .indicator,
.control[data-indeterminate] .indicator {
  opacity: 1;
  transform: scale(1);
  transition-duration: var(--md-checkbox-enter-duration), var(--md-checkbox-opacity-duration);
  transition-timing-function: var(--md-checkbox-enter-easing), linear;
}

.icon {
  display: block;
  inline-size: var(--md-checkbox-icon-size);
  block-size: var(--md-checkbox-icon-size);
  fill: currentColor;
}

.mark {
  animation-duration: var(--md-checkbox-exit-duration);
  animation-timing-function: var(--md-checkbox-exit-easing);
  transition-duration: var(--md-checkbox-exit-duration);
  transition-timing-function: var(--md-checkbox-exit-easing);
}

.short {
  width: 0.125rem;
  height: 0.125rem;
  transition-property: transform, height;
}

.long {
  width: 0.625rem;
  height: 0.125rem;
  transition-property: transform, width;
}

.control[data-checked] .mark,
.control[data-indeterminate] .mark {
  transition-duration: var(--md-checkbox-enter-duration);
  transition-timing-function: var(--md-checkbox-enter-easing);
}

.control[data-checked] .mark,
.control[data-previous-state='checked']:not([data-checked], [data-indeterminate]) .mark {
  transform: scaleY(-1) translate(0.4375rem, -0.875rem) rotate(45deg);
}

.control[data-checked] .short,
.control[data-previous-state='checked']:not([data-checked], [data-indeterminate]) .short {
  height: 0.3536rem;
}

.control[data-checked] .long,
.control[data-previous-state='checked']:not([data-checked], [data-indeterminate]) .long {
  width: 0.7071rem;
}

.control[data-indeterminate] .mark,
.control[data-previous-state='indeterminate']:not([data-checked], [data-indeterminate]) .mark {
  transform: scaleY(-1) translate(0.25rem, -0.625rem);
}

.control[data-previous-state='unselected'] .mark {
  transition-property: none;
}

.control[data-previous-state='unselected'][data-checked] .long {
  animation-name: checkbox-mark-enter;
  animation-duration: var(--md-checkbox-enter-duration);
  animation-timing-function: var(--md-checkbox-enter-easing);
}

@keyframes checkbox-mark-enter {
  from {
    width: 0;
  }
}

.text {
  display: grid;
  min-block-size: var(--md-checkbox-touch-target-size);
  align-content: start;
}

.label {
  font-family: var(--md-checkbox-label-text-font);
  font-size: var(--md-checkbox-label-text-size);
  font-weight: var(--md-checkbox-label-text-weight);
  line-height: var(--md-checkbox-label-text-line-height);
}

.supporting {
  color: var(--md-checkbox-supporting-text-color);
  font-family: var(--md-checkbox-supporting-text-font);
  font-size: var(--md-checkbox-supporting-text-size);
  font-weight: var(--md-checkbox-supporting-text-weight);
  line-height: var(--md-checkbox-supporting-text-line-height);
}

.root[data-disabled] .label,
.root[data-disabled] .supporting {
  color: color-mix(in srgb, var(--md-checkbox-label-text-color) var(--md-checkbox-disabled-container-opacity), transparent);
}

.root[data-disabled] .box {
  border-color: color-mix(in srgb, var(--md-checkbox-disabled-outline-color) var(--md-checkbox-disabled-outline-opacity), transparent);
}

.root[data-disabled] .control[data-checked] .box,
.root[data-disabled] .control[data-indeterminate] .box {
  border-color: transparent;
}

.root[data-disabled] .control[data-checked] .box::before,
.root[data-disabled] .control[data-indeterminate] .box::before {
  background: color-mix(in srgb, var(--md-checkbox-disabled-container-color) var(--md-checkbox-disabled-container-opacity), transparent);
}

.root[data-disabled] .control[data-checked],
.root[data-disabled] .control[data-indeterminate] {
  color: var(--md-checkbox-disabled-icon-color);
}

.root[data-disabled] :is(.box, .indicator, .mark) {
  transition-duration: 0s;
}

.root[data-disabled] .box::before {
  transition-duration: 0s;
}

@media (forced-colors: active) {
  .control[data-checked] .box,
  .control[data-indeterminate] .box {
    border-color: Highlight;
    background: Highlight;
    color: HighlightText;
  }
}
