.root {
  display: inline-grid;
  grid-template-columns: var(--md-checkbox-touch-target-size) minmax(0, 1fr);
  align-items: start;
  gap: 0;
  color: var(--md-checkbox-label-text-color);
  cursor: pointer;
}

.root[data-disabled] {
  cursor: default;
}

.root[data-size='large'] {
  --checkbox-container-shape: var(--md-checkbox-large-container-shape);
  --checkbox-container-size: var(--md-checkbox-large-container-size);
  --checkbox-icon-size: var(--md-checkbox-large-icon-size);
  --checkbox-outline-width: var(--md-checkbox-large-outline-width);
  --checkbox-state-layer-size: var(--md-checkbox-large-state-layer-size);
}

.root[data-size='medium'] {
  --checkbox-container-shape: var(--md-checkbox-medium-container-shape);
  --checkbox-container-size: var(--md-checkbox-medium-container-size);
  --checkbox-icon-size: var(--md-checkbox-medium-icon-size);
  --checkbox-outline-width: var(--md-checkbox-medium-outline-width);
  --checkbox-state-layer-size: var(--md-checkbox-medium-state-layer-size);
}

.root[data-size='small'] {
  --checkbox-container-shape: var(--md-checkbox-small-container-shape);
  --checkbox-container-size: var(--md-checkbox-small-container-size);
  --checkbox-icon-size: var(--md-checkbox-small-icon-size);
  --checkbox-outline-width: var(--md-checkbox-small-outline-width);
  --checkbox-state-layer-size: var(--md-checkbox-small-state-layer-size);
}

.control {
  --md-interaction-focus-state-layer-opacity: var(--md-checkbox-focus-state-layer-opacity);
  --md-interaction-hover-state-layer-opacity: var(--md-checkbox-hover-state-layer-opacity);
  --md-interaction-motion-duration: var(--md-checkbox-state-layer-motion-duration);
  --md-interaction-motion-easing: var(--md-checkbox-state-layer-motion-easing);
  --md-interaction-pressed-state-layer-opacity: var(--md-checkbox-pressed-state-layer-opacity);
  --md-interaction-state-layer-shape: var(--md-checkbox-state-layer-shape);
  --md-ripple-pressed-opacity: var(--md-checkbox-ripple-opacity);
  --md-ripple-shape: var(--md-checkbox-state-layer-shape);
  --md3-ripple-color: var(--md-checkbox-selected-container-color);
  --md3-state-layer-color: transparent;
  position: relative;
  display: inline-grid;
  inline-size: var(--checkbox-container-size);
  block-size: var(--checkbox-container-size);
  flex: none;
  place-items: center;
  margin: calc((var(--md-checkbox-label-text-line-height) - var(--checkbox-container-size)) / 2)
    calc((var(--md-checkbox-touch-target-size) - var(--checkbox-container-size)) / 2) 0;
  padding: 0;
  border: 0;
  border-radius: var(--md-checkbox-state-layer-shape);
  outline: 0;
  background: transparent;
  color: transparent;
  cursor: inherit;
  isolation: isolate;
}

.control > :global([data-slot='state-layer']),
.control > :global([data-slot='ripple']) {
  position: absolute;
  inline-size: var(--checkbox-state-layer-size);
  block-size: var(--checkbox-state-layer-size);
  inset-block-start: 50%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
}

.control > :global([data-slot='focus-ring']) {
  position: absolute;
  inline-size: 2.75rem;
  block-size: 2.75rem;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  border-radius: inherit;
  transform: translate(-50%, -50%);
}

:where(.root:not([data-disabled]):hover) .control {
  --md3-state-layer-color: var(--md-checkbox-hover-state-layer-color);
}

.control:focus-visible {
  --md3-state-layer-color: var(--md-checkbox-focus-state-layer-color);
}

.control[data-pressed] {
  --md3-state-layer-color: var(--md-checkbox-pressed-state-layer-color);
}

.root[data-error] .control {
  --md3-ripple-color: var(--md-checkbox-selected-error-container-color);
}

.box {
  position: relative;
  z-index: 1;
  display: inline-grid;
  inline-size: var(--checkbox-container-size);
  block-size: var(--checkbox-container-size);
  place-items: center;
  border: var(--checkbox-outline-width) solid var(--md-checkbox-unselected-outline-color);
  border-radius: var(--checkbox-container-shape);
  background: transparent;
  overflow: hidden;
  transition: border-color var(--md-checkbox-opacity-duration) linear;
}

.box::before {
  position: absolute;
  inset: calc(-1 * var(--checkbox-outline-width));
  border-radius: inherit;
  background: var(--checkbox-container-color, var(--md-checkbox-selected-container-color));
  content: '';
  opacity: 0;
  transform: scale(0.6);
  transition: transform var(--md-checkbox-exit-duration) var(--md-checkbox-exit-easing), opacity var(--md-checkbox-opacity-duration) linear;
}

.control[data-checked],
.control[data-indeterminate] {
  color: var(--md-checkbox-selected-icon-color);
}

.control[data-checked] .box,
.control[data-indeterminate] .box {
  border-color: var(--md-checkbox-selected-container-color);
}

.control[data-checked] .box::before,
.control[data-indeterminate] .box::before {
  opacity: 1;
  transform: scale(1);
  transition-duration: var(--md-checkbox-enter-duration), var(--md-checkbox-opacity-duration);
  transition-timing-function: var(--md-checkbox-enter-easing), linear;
}

.root[data-error] .box {
  border-color: var(--md-checkbox-error-outline-color);
}

.root[data-error] .control:is([data-checked], [data-indeterminate]) {
  color: var(--md-checkbox-selected-error-icon-color);
}

.root[data-error] .control:is([data-checked], [data-indeterminate]) .box {
  border-color: var(--md-checkbox-selected-error-container-color);
}

.root[data-error] .control:is([data-checked], [data-indeterminate]) .box::before {
  background: var(--md-checkbox-selected-error-container-color);
}

.indicator {
  position: absolute;
  z-index: 2;
  inset: 0;
  display: inline-grid;
  place-items: center;
  overflow: visible;
  opacity: 0;
  transform: scale(0.6);
  transition: transform var(--md-checkbox-exit-duration) var(--md-checkbox-exit-easing), opacity var(--md-checkbox-opacity-duration) linear;
}

.control[data-checked] .indicator,
.control[data-indeterminate] .indicator {
  opacity: 1;
  transform: scale(1);
  transition-duration: var(--md-checkbox-enter-duration), var(--md-checkbox-opacity-duration);
  transition-timing-function: var(--md-checkbox-enter-easing), linear;
}

.icon {
  position: absolute;
  display: block;
  inline-size: var(--checkbox-icon-size);
  block-size: var(--checkbox-icon-size);
  inset-block-start: 50%;
  inset-inline-start: 50%;
  fill: currentColor;
  transform: translate(-50%, -50%);
}

.mark {
  animation-duration: var(--md-checkbox-exit-duration);
  animation-timing-function: var(--md-checkbox-exit-easing);
  transition-duration: var(--md-checkbox-exit-duration);
  transition-timing-function: var(--md-checkbox-exit-easing);
}

.short {
  width: 0.125rem;
  height: 0.125rem;
  transition-property: transform, height;
}

.long {
  width: 0.625rem;
  height: 0.125rem;
  transition-property: transform, width;
}

.control[data-checked] .mark,
.control[data-indeterminate] .mark {
  transition-duration: var(--md-checkbox-enter-duration);
  transition-timing-function: var(--md-checkbox-enter-easing);
}

.control[data-checked] .mark,
.control[data-previous-state='checked']:not([data-checked], [data-indeterminate]) .mark {
  transform: scaleY(-1) translate(0.4375rem, -0.875rem) rotate(45deg);
}

.control[data-checked] .short,
.control[data-previous-state='checked']:not([data-checked], [data-indeterminate]) .short {
  height: 0.3536rem;
}

.control[data-checked] .long,
.control[data-previous-state='checked']:not([data-checked], [data-indeterminate]) .long {
  width: 0.7071rem;
}

.control[data-indeterminate] .mark,
.control[data-previous-state='indeterminate']:not([data-checked], [data-indeterminate]) .mark {
  transform: scaleY(-1) translate(0.25rem, -0.625rem);
}

.control[data-previous-state='unselected'] .mark {
  transition-property: none;
}

.control[data-previous-state='unselected'][data-checked] .long {
  animation-name: checkbox-mark-enter;
  animation-duration: var(--md-checkbox-enter-duration);
  animation-timing-function: var(--md-checkbox-enter-easing);
}

@keyframes checkbox-mark-enter {
  from {
    width: 0;
  }
}

.text {
  display: grid;
  min-block-size: var(--md-checkbox-touch-target-size);
  align-content: start;
}

.label {
  font-family: var(--md-checkbox-label-text-font);
  font-size: var(--md-checkbox-label-text-size);
  font-weight: var(--md-checkbox-label-text-weight);
  letter-spacing: var(--md-checkbox-label-text-tracking);
  line-height: var(--md-checkbox-label-text-line-height);
  text-decoration: var(--md-checkbox-label-text-decoration);
}

.supporting {
  color: var(--md-checkbox-supporting-text-color);
  font-family: var(--md-checkbox-supporting-text-font);
  font-size: var(--md-checkbox-supporting-text-size);
  font-weight: var(--md-checkbox-supporting-text-weight);
  letter-spacing: var(--md-checkbox-supporting-text-tracking);
  line-height: var(--md-checkbox-supporting-text-line-height);
  text-decoration: var(--md-checkbox-supporting-text-decoration);
}

.root[data-disabled] .label,
.root[data-disabled] .supporting {
  color: color-mix(in srgb, var(--md-checkbox-label-text-color) var(--md-checkbox-disabled-control-opacity), transparent);
}

.root[data-error]:not([data-disabled]) .supporting {
  color: var(--md-checkbox-supporting-error-text-color);
}

.root[data-disabled] .control {
  opacity: var(--md-checkbox-disabled-control-opacity);
}

.root[data-disabled] .box {
  border-color: var(--md-checkbox-disabled-outline-color);
}

.root[data-disabled] .control[data-checked] .box,
.root[data-disabled] .control[data-indeterminate] .box {
  border-color: transparent;
}

.root[data-disabled] .control[data-checked] .box::before,
.root[data-disabled] .control[data-indeterminate] .box::before {
  background: var(--md-checkbox-disabled-container-color);
}

.root[data-disabled] .control[data-checked],
.root[data-disabled] .control[data-indeterminate] {
  color: var(--md-checkbox-disabled-icon-color);
}

.root[data-disabled] :is(.box, .indicator, .mark) {
  transition-duration: 0s;
}

.root[data-disabled] .box::before {
  transition-duration: 0s;
}

@media (forced-colors: active) {
  .control[data-checked] .box,
  .control[data-indeterminate] .box {
    border-color: Highlight;
    background: Highlight;
    color: HighlightText;
  }

  .root[data-error] .box {
    outline: 0.125rem solid Mark;
    outline-offset: 0.125rem;
  }
}
