.root {
  --md3-ripple-color: var(--button-label-color);
  --md3-state-layer-color: var(--button-state-layer-color, transparent);
  --md-interaction-focus-state-layer-opacity: 1;
  --md-interaction-hover-state-layer-opacity: 1;
  --md-interaction-pressed-state-layer-opacity: 1;
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  inline-size: max-content;
  min-inline-size: 0;
  block-size: var(--button-container-height);
  align-items: center;
  justify-content: center;
  padding-inline: var(--button-horizontal-space);
  border: var(--button-outline-width, 0) solid var(--button-outline-color, transparent);
  border-radius: var(--md-button-container-shape);
  background: var(--button-container-color);
  box-shadow: var(--button-elevation, none);
  color: var(--button-label-color);
  font-family: var(--button-label-text-font);
  font-size: var(--button-label-text-size);
  font-weight: var(--button-label-text-weight);
  letter-spacing: var(--button-label-text-tracking);
  line-height: var(--button-label-text-line-height);
  text-decoration: var(--button-label-text-decoration);
  text-wrap: nowrap;
  vertical-align: top;
  cursor: pointer;
  isolation: isolate;
  -webkit-tap-highlight-color: transparent;
}

.root:not(:disabled):hover {
  --button-state-layer-color: var(--md-button-hover-state-layer-color);
  box-shadow: var(--button-hover-elevation, var(--button-elevation, none));
}

.root:not(:disabled):focus-visible {
  --button-state-layer-color: var(--md-button-focus-state-layer-color);
  box-shadow: var(--button-focus-elevation, var(--button-elevation, none));
}

.root:not(:disabled)[data-pressed] {
  --button-state-layer-color: var(--md-button-pressed-state-layer-color);
  box-shadow: var(--button-pressed-elevation, var(--button-elevation, none));
}

.root:disabled {
  border-color: var(--button-disabled-outline-color, transparent);
  background: var(--button-disabled-container-color);
  box-shadow: none;
  color: var(--button-disabled-label-color);
  cursor: default;
}

.root:disabled .content {
  opacity: var(--button-disabled-content-opacity);
}

.root:focus {
  outline: none;
}

.touchTarget {
  position: absolute;
  z-index: 0;
  inset-block-start: 50%;
  inset-inline-start: 0;
  inline-size: 100%;
  min-block-size: var(--md-button-touch-target-size);
  transform: translateY(-50%);
}

.content {
  position: relative;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  gap: var(--button-icon-label-space);
}

.label {
  display: inline-flex;
  align-items: center;
}

.icon {
  display: inline-flex;
  inline-size: var(--button-icon-size);
  block-size: var(--button-icon-size);
  flex: none;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.icon > * {
  inline-size: 100%;
  block-size: 100%;
}

.icon > :global(.material-icons) {
  font-size: var(--button-icon-size);
}

.large {
  --button-container-height: var(--md-button-large-container-height);
  --button-horizontal-space: var(--md-button-large-horizontal-space);
  --button-icon-label-space: var(--md-button-large-icon-label-space);
  --button-icon-size: var(--md-button-large-icon-size);
  --button-label-text-decoration: var(--md-button-large-label-text-decoration);
  --button-label-text-font: var(--md-button-large-label-text-font);
  --button-label-text-line-height: var(--md-button-large-label-text-line-height);
  --button-label-text-size: var(--md-button-large-label-text-size);
  --button-label-text-tracking: var(--md-button-large-label-text-tracking);
  --button-label-text-weight: var(--md-button-large-label-text-weight);
}

.medium {
  --button-container-height: var(--md-button-medium-container-height);
  --button-horizontal-space: var(--md-button-medium-horizontal-space);
  --button-icon-label-space: var(--md-button-medium-icon-label-space);
  --button-icon-size: var(--md-button-medium-icon-size);
  --button-label-text-decoration: var(--md-button-medium-label-text-decoration);
  --button-label-text-font: var(--md-button-medium-label-text-font);
  --button-label-text-line-height: var(--md-button-medium-label-text-line-height);
  --button-label-text-size: var(--md-button-medium-label-text-size);
  --button-label-text-tracking: var(--md-button-medium-label-text-tracking);
  --button-label-text-weight: var(--md-button-medium-label-text-weight);
}

.small {
  --button-container-height: var(--md-button-small-container-height);
  --button-horizontal-space: var(--md-button-small-horizontal-space);
  --button-icon-label-space: var(--md-button-small-icon-label-space);
  --button-icon-size: var(--md-button-small-icon-size);
  --button-label-text-decoration: var(--md-button-small-label-text-decoration);
  --button-label-text-font: var(--md-button-small-label-text-font);
  --button-label-text-line-height: var(--md-button-small-label-text-line-height);
  --button-label-text-size: var(--md-button-small-label-text-size);
  --button-label-text-tracking: var(--md-button-small-label-text-tracking);
  --button-label-text-weight: var(--md-button-small-label-text-weight);
}

.filled {
  --button-container-color: var(--md-filled-button-container-color);
  --button-elevation: var(--md-filled-button-container-elevation);
  --button-focus-elevation: var(--md-filled-button-focus-container-elevation);
  --button-hover-elevation: var(--md-filled-button-hover-container-elevation);
  --button-pressed-elevation: var(--md-filled-button-pressed-container-elevation);
  --button-label-color: var(--md-filled-button-label-text-color);
  --button-disabled-container-color: var(--md-filled-button-disabled-container-color);
  --button-disabled-content-opacity: var(--md-filled-button-disabled-label-text-opacity);
  --button-disabled-label-color: var(--md-filled-button-disabled-label-text-color);
}

.filled[data-error] {
  --button-container-color: var(--md-filled-button-error-container-color);
  --button-label-color: var(--md-filled-button-error-label-text-color);
}

.tonal {
  --button-container-color: var(--md-filled-tonal-button-container-color);
  --button-elevation: var(--md-filled-tonal-button-container-elevation);
  --button-focus-elevation: var(--md-filled-tonal-button-focus-container-elevation);
  --button-hover-elevation: var(--md-filled-tonal-button-hover-container-elevation);
  --button-pressed-elevation: var(--md-filled-tonal-button-pressed-container-elevation);
  --button-label-color: var(--md-filled-tonal-button-label-text-color);
  --button-disabled-container-color: var(--md-filled-tonal-button-disabled-container-color);
  --button-disabled-content-opacity: var(--md-filled-tonal-button-disabled-label-text-opacity);
  --button-disabled-label-color: var(--md-filled-tonal-button-disabled-label-text-color);
}

.tonal[data-error] {
  --button-container-color: var(--md-filled-tonal-button-error-container-color);
  --button-label-color: var(--md-filled-tonal-button-error-label-text-color);
}

.elevated {
  --button-container-color: var(--md-elevated-button-container-color);
  --button-elevation: var(--md-elevated-button-container-elevation);
  --button-focus-elevation: var(--md-elevated-button-focus-container-elevation);
  --button-hover-elevation: var(--md-elevated-button-hover-container-elevation);
  --button-pressed-elevation: var(--md-elevated-button-pressed-container-elevation);
  --button-label-color: var(--md-elevated-button-label-text-color);
  --button-disabled-container-color: var(--md-elevated-button-disabled-container-color);
  --button-disabled-content-opacity: var(--md-elevated-button-disabled-label-text-opacity);
  --button-disabled-label-color: var(--md-elevated-button-disabled-label-text-color);
}

.elevated[data-error] {
  --button-label-color: var(--md-elevated-button-error-label-text-color);
}

.outlined {
  --button-container-color: var(--md-outlined-button-container-color);
  --button-elevation: none;
  --button-label-color: var(--md-outlined-button-label-text-color);
  --button-outline-color: var(--md-outlined-button-outline-color);
  --button-outline-width: var(--md-outlined-button-outline-width);
  --button-disabled-container-color: var(--md-outlined-button-disabled-container-color);
}

.outlined[data-error] {
  --button-label-color: var(--md-outlined-button-error-label-text-color);
  --button-outline-color: var(--md-outlined-button-error-outline-color);
}

.outlined.large {
  --button-disabled-content-opacity: var(--md-outlined-button-large-disabled-label-text-opacity);
  --button-disabled-label-color: var(--md-outlined-button-large-disabled-label-text-color);
  --button-disabled-outline-color: var(--md-outlined-button-large-disabled-outline-color);
}

.outlined.medium {
  --button-disabled-content-opacity: var(--md-outlined-button-medium-disabled-label-text-opacity);
  --button-disabled-label-color: var(--md-outlined-button-medium-disabled-label-text-color);
  --button-disabled-outline-color: var(--md-outlined-button-medium-disabled-outline-color);
}

.outlined.small {
  --button-disabled-content-opacity: var(--md-outlined-button-small-disabled-label-text-opacity);
  --button-disabled-label-color: var(--md-outlined-button-small-disabled-label-text-color);
  --button-disabled-outline-color: var(--md-outlined-button-small-disabled-outline-color);
}

.text {
  --button-container-color: var(--md-text-button-container-color);
  --button-elevation: none;
  --button-label-color: var(--md-text-button-label-text-color);
  --button-disabled-container-color: var(--md-text-button-disabled-container-color);
  --button-disabled-content-opacity: var(--md-text-button-disabled-label-text-opacity);
  --button-disabled-label-color: var(--md-text-button-disabled-label-text-color);
}

.text[data-error] {
  --button-label-color: var(--md-text-button-error-label-text-color);
}

@media (forced-colors: active) {
  .root {
    border: 0.0625rem solid ButtonText;
    background: ButtonFace;
    box-shadow: none;
    color: ButtonText;
    forced-color-adjust: auto;
  }

  .root[data-error] {
    border-style: double;
    border-width: 0.1875rem;
  }

  .root:disabled {
    border-color: GrayText;
    color: GrayText;
  }
}
